.font-spancolor {
  .sp-preview {
    width: 20px;
    height: 20px;

    &:after {
      content: "";
      background-image: url(../img/ziti.png);
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.font-textProfile {
  .sp-preview-inner {
    height: 3px;
    width: 16px;
    margin-left: 2px;
    margin-top: 15px;
  }

  .sp-preview {
    content: "";
    background-image: url(../img/textProfile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    left: 0px;
  }
}

.font-textoutline {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  left: 5px;
  top: 5px;

  .icon {
    content: "";
    background-image: url(../img/outline.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.font-geshibeijingse {
  .sp-preview {
    height: 3px;
    width: 20px;
    margin-top: 15px;

    &:after {
      content: "";
      background-image: url(../img/gsbjs.png);
      background-size: 110%;
      background-repeat: no-repeat;
      position: absolute;
      top: -21px;
      width: 20px;
      height: 20px;
      left: 0px;
    }
  }
}

.setContent {
  position: absolute;
  top: 0.6rem;
  height: calc(100% - 0.6rem);
  background-color: #212931;
  z-index: 1004;
  box-sizing: border-box;

  .setContent-do {
    height: 100%;
    margin-left: calc(100% + 10px);
    background-color: #1C232A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 1.26rem;
      height: 0.37rem;
      display: inline-block;
      cursor: pointer;
      font-size: 0.18rem;
      padding: 0;
    }

    .el-button+.el-button {
      margin-left: 0.42rem
    }
  }

  .el-slider {
    height: 100%;
    .el-slider__runway {
      height: 2px;
      .el-slider__bar {
        height: 2px;
      }
      .el-slider__button-wrapper {
        top: -17px;
        .el-slider__button {
          border: 2px solid #aaa;
          background-color: #aaa;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.setContent {
  .setContent-sel {
    width: 100%;
    height: calc(100% - 0.4rem);
    position: absolute;
    top: 0.4rem;
    background-color: #1C232A;
    border-right: 10px solid #151a20;
  }
}

.setContent-sel {
  .content-sel-title {
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.2rem;
    position: absolute;
    top: -0.4rem;
    color: #fff;
  }

  .content-sel-option {
    padding: 0.12rem 0.2rem 0;
    z-index: -1;
    font-size: 0.16rem;
    color: #cdd5dd;
  }
}

.content-sel-title {
  .title-left {
    .u-icon {
      float: left;
      width: 0.36rem;
      height: 0.36rem;
    }

    .setpng {
      background-image: url(../img/set1.png);
      background-size: 80%;
      margin-right: 0.4rem;

      &.active {
        background-image: url(../img/set2.png);
      }
    }

    .filterpng {
      background-image: url(../img/filter1.png);
      background-size: 88%;
      margin-right: 0.4rem;

      &.active {
        background-image: url(../img/filter2.png);
      }
    }

    .writepng {
      background-image: url(../img/write1.png);
      background-size: 75%;
      margin-right: 0.4rem;

      &.active {
        background-image: url(../img/write2.png);
      }
    }

    .textpng {
      background-image: url(../img/text.png);
      background-size: 65%;
    }
  }

  .title-right {
    float: right;
    width: 0.66rem;
    height: 0.66rem;
    background-image: url(../img/del_big.png);
    cursor: pointer;
  }
}

// colorpick 样式
.color-container {
  padding-left: 0.08rem;
  box-sizing: border-box;
  display: inline-block;

  .sp-replacer {
    padding: 2px;
    border: 1px solid #595F65;
    position: relative;
    background-color: #595f65;

    .sp-preview {
      width: 0.42rem;
      height: 0.17rem;
      margin-right: 0;
      box-sizing: border-box;
      border: none;
    }

    .sp-dd {
      display: none;
    }
  }
}

.sp-replacer {
  padding: 2px;
  // background-color: #595f65;
  border: 1px solid #595F65;
  border-radius: 0.03rem;
}

.animate-container {
  width: 100%;
  padding: 0 0.3rem;
  height: calc(100% - 0.6rem);
  margin: 0.3rem 0;
  box-sizing: border-box;
  overflow: hidden;
  .animate-content {
    .animate-option-groups {
      .option-text {
        padding-bottom: 0.2rem;
        .text-title {
          font-size: 0.16rem;
          height: 0.22rem;
          line-height: 0.22rem;
          color: #cdd5dd;
        }
        .text-style {
          display: flex;
          align-items: center;
          height: 0.4rem;
          font-size: 0.16rem;
          padding: 0.12rem 0;
          color: #cdd5dd;
          input {
            height: 0.4rem;
            font-size: 0.16rem;
            background-color:#1c232a;
            color: #cdd5dd;
            border:1px solid #394149;
            border-radius: 0.03rem;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            display: inline-block;
            outline: 0;
            text-decoration: none;
            &:focus,
            &:hover {
              border-color: #61ded0;
            }
            &.font-size-set {
              width: 0.6rem;
              text-align: center;
              margin-right: 0.16rem;
            }
          }
          .font-options {
            height: 0.4rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .font-option {
              width: 0.24rem;
              height: 0.24rem;
              margin-right: 0.16rem;
              &.font-width {
                cursor: pointer;
                background-image: url(../img/weight.png);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;

                &.active {
                  background-image: url(../img/weight_a.png);
                }
              }

              &.font-style {
                cursor: pointer;
                background-image: url(../img/italic.png);
                background-size: 90%;
                background-position: center;
                background-repeat: no-repeat;

                &.active {
                  background-image: url(../img/italic_a.png);
                }
              }
            }
          }
          .font-text-color,
          .font-box-color,
          .dynamic-text-colorpicker {
            display: flex;
            align-items: center;
            margin: 0 0.16rem;
          }
        }
        .text-content {
          position: relative;
          textarea {
            height: 1.4rem;
            width: 100%;
            background-color: #0f1215;
            border: 1px solid #394149;
            border-radius: 0.03rem;
            outline: none;
            box-sizing: border-box;
            font-size: 0.16rem;
            line-height: 0.24rem;
            // text-indent: 0.06rem;
            padding-left: 0.06rem;
            color: #cdd5dd;
          }
          .length-mark {
            position: absolute;
            bottom: 0.12rem;
            right: 0.12rem;
            font-size: 0.14rem;
            line-height: 0.2rem;
            color: #838C98;
          }
        }
      }
    }
  }
}

.font-position {
  background-image: url(../img/mdq.png);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .font-positioncontent {
    position: absolute;
    top: 20px;
    z-index: 200;
    width: 90px;
    height: 60px;
    background-color: #1c232a;
    border: 1px solid #394149;
    border-radius: 0.03rem;

    div {
      width: 20px;
      height: 20px;
      float: left;
      margin: 5px;
      background-size: 80%;

      &.ldq {
        background-image: url(../img/ldq.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.cdq {
        background-image: url(../img/mdq.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.rdq {
        background-image: url(../img/rdq.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.tdq {
        background-image: url(../img/tdq.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.bdq {
        background-image: url(../img/bdq.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.mdq {
        background-image: url(../img/cdq.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.content-sel-option {
  .sel-option {
    padding: 10px 0;
    height: 60px;
    line-height: 60px;
  }

  .sel-option-small {
    padding: 10px 0;
    height: 45px;
    line-height: 45px;
  }

  .sel-option3 {
    padding: 10px 0;
    line-height: 60px;
  }

  .sel-option1 {
    padding: 3px 0;

    textarea {
      outline: none;
      background-color: #1d1d1d;
      border: 1px solid #636363;
      font-size: 14px;
      display: inline-block;
      box-sizing: border-box;
      color: #909090;
      width: 100%;
    }
  }
}

.sel-option .sel-option-name,
.sel-option3 .sel-option-name {
  float: left;
  width: 70px;
  height: 100%;
}

.sel-option .sel-option-con,
.sel-option3 .sel-option-con {
  float: left;
  width: calc(100% - 70px);
  height: 100%;
}

.sel-option-con {
  &.mosic-pos {
    height: 117px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -45px;
    margin-left: 95px;
  }

  .con_filter {
    float: left;
    margin: 0 30px;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    &.angle {
      width: 110px;
      height: 60px;
      margin-left: 34px;
    }

    &.ratio {
      width: calc(100% - 184px);
      height: 60px;
      margin: 0px;
    }

    &.jxfz {
      background-image: url(../img/spfanzhuan.png);
      cursor: pointer;
    }

    &.czfz {
      background-image: url(../img/czfanzhuan.png);
      cursor: pointer;
    }

    &.mosaic {
      background-image: url(../img/mosaic1.png);
      cursor: pointer;

      .active {
        background-image: url(../img/check_mark.png);
        height: 26px;
      }
    }

    &.fastbur {
      background-image: url(../img/fastbur.png);
      cursor: pointer;

      .active {
        background-image: url(../img/check_mark.png);
        height: 26px;
      }
    }

    &.backplay {
      background-image: url(../img/backplay.png);
      cursor: pointer;
      background-size: 50%;
    }

    &.cutting {
      background-image: url(../img/cutting.png);
      cursor: pointer;

      &.active {
        background-image: url(../img/cutting_a.png);
        transform: scale(0.88);
      }
    }

    &.cuttingWay {
      background-image: url(../img/cuttingway.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.cuttingWay3 {
      background-image: url(../img/cuttingway3.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.cuttingWay0 {
      background-image: url(../img/cuttingway0.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.cuttingWay1 {
      background-image: url(../img/cuttingway1.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.cuttingWay2 {
      background-image: url(../img/cuttingway2.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.cuttingSet {
      background-image: url(../img/cuttingSet.png);
      cursor: pointer;
      background-size: 60%;
    }

    &.delCutting {
      background-image: url(../img/delCutting.png);
      cursor: pointer;
      background-size: 60%;
    }

    .xzfilter {
      background-image: url(../img/rotate.png);
      cursor: pointer;
    }

    &.activ {
      border: 1px solid #61ded0;
    }

    &.filter_normal {
      background-image: url(../img/normal.png);
    }

    &.filter_puguang {
      background-image: url(../img/puguang.png);
    }

    &.filter_faguang {
      background-image: url(../img/faguang.png);
    }

    &.filter_mohu {
      background-image: url(../img/mohu.png);
    }

    &.filter_blackwhite {
      background-image: url(../img/blackwhite.png);
    }

    &>span {
      display: none;

      &.filter_title {
        display: inline-block;
        position: absolute;
        bottom: 0;
        line-height: 12px;
        width: 100%;
        height: 12px;
      }
    }

    &:hover {
      &>span {
        display: inline-block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: -13px;
        line-height: 12px;
      }
    }
  }

  &.ar {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
  }
}

.sel-option3 {
  .sel-option-con {
    .con_filter {
      cursor: pointer;
      height: 100px;
      background-size: 100% 80%;
      background-repeat: no-repeat;
      border: 1px solid #909090;
    }
  }
}

.sel-option-con .con_filter>span.filter_title,
.sel-option-con .con_filter:hover>span.filter_title {
  display: inline-block;
  position: absolute;
  text-align: center;
  bottom: 3px;
  line-height: 12px;
  width: 100%;
  height: 12px;
}

.volumeset_quick {
  background-image: url(../img/volumeOpen.png);
  background-position-x: 0;
  background-size: 35%;

  &.active {
    background-image: url(../img/volumeClose.png);
  }
}

.sel-option {
  .sel-option-back {
    height: 100%;
    float: left;
    width: 40px;
    margin: 0 10px;
    background-image: url(../img/newreset.png);
    cursor: pointer;
  }
}

/*具体选项样式*/
.sel-option input[type="number"].sty,
.sel-option1 input[type="number"].sty {
  position: absolute;
  top: 5px;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #636363;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  display: inline-block;
  outline: 0;
  padding: 0.2em;
  text-decoration: none;
  width: 0.76rem;
  height: 0.29rem;
  background:#151a20;
  border:1px solid #313c48;
  border-radius: 0.03rem;
  color: #cdd5dd;
  font-size: 0.16rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/*马赛克模块样式*/
.mosaicBoxs {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  position: relative;

  .mosaicBox {
    position: absolute;
    box-sizing: border-box;
    cursor: move;
  }
}

.mosaicBox {
  &.active {
    border: 1px dashed #0d9812;

    .delMosaic {
      display: block;
    }
  }

  .delMosaic {
    width: 20px;
    height: 20px;
    background-color: #232323;
    position: absolute;
    right: 0;
    display: none;
    background-image: url(../img/del.png);
    cursor: pointer;
    background-size: 80%;

    &.top {
      top: -20px;
    }

    &.bottom {
      bottom: -20px;
    }
  }
}

// bscroll样式
.bscroll {
  position: relative;
}
.bscroll-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.bscroll-indicator {
  background-color: rgb(170, 170, 170) !important;
  border: none !important;
}

.bscroll-vertical-scrollbar {
  z-index: 2000 !important;
}

// input公共样式
.input-search {
  display: inline-block;
  width: auto;

  input {
    width: 2rem;
    height: 0.3rem;
    background-color: rgb(48, 56, 64);
    border: 1px solid rgb(99, 106, 113);
    border-radius: 0.03rem;
    box-sizing: border-box;
    font-size: 0.16rem;
    color: #e4e4e4;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    &:focus,
    &:hover {
      border-color: #61ded0;
    }
  }
}