html {
  background-color: #151a20;
  overflow: hidden;
  width: 100%;
  font: 12px/1.5 Arial, sans-serif;
}

span {
  -webkit-user-select: none;
  -moz-user-select: none;
}

textarea {
  overflow: auto;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

body {
  color: #e4e4e4;
  margin: 0px;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p.disabled {
  cursor: not-allowed;
  width: 54px;
  background: #151a20;
  color: #aaa;
  text-align: center;
  margin: 0px;
  padding: 3px 5px;
  border-radius: 3px;
}

p.undisabled {
  width: 54px;
  background: #151a20;
  text-align: center;
  margin: 0px;
  padding: 3px 5px;
  border-radius: 3px;
}

.u-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#flashVideoID {
  margin-top: -3px;
}

#nces {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  color: #e4e4e4;
  background-color: #151a20;
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  width: 14px;
  height: 14px;
  visibility: hidden;
}

input[type="checkbox"]+label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/unchecked.png) no-repeat;
  background-size: 100%;
}

input[type="checkbox"]:checked+label {
  background: url(../img/checked.png) no-repeat;
  background-size: 100%;
}

label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
}

label input[type="radio"]:after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #bfbfbf;
}

label input[type="radio"]:checked:after {
  background: #61ded0;
  border: 2px solid #fff;
}

/*资源模块样式s*/

/*保存视频弹窗样式begin*/
.content_select .outOption1 {
  padding-left: 183px;
  padding-top: 1px;
}

.outOption2 {
  padding-left: 190px;
}

.content_select .outOption2 input[type="number"] {
  text-align: left;
  font-size: 12px;
  height: 20px;
  padding: 0px;
  border: none;
  color: #61ded0;
  background-color: transparent;
  width: 60px;

  top: 5px;
  border-radius: 4px;
  color: #61ded0;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  display: inline-block;
  outline: 0;
  text-decoration: none;
}

.content_select .outOption2 span,
.content_select .outOption1 span {
  padding: 0;
  display: inline;
}

.content_select .outOption1 span.tip_num {
  width: 20px;
  top: -16px;
}

/*保存视频弹窗样式end*/
/*end*/

input.mui-switch {
  width: 43px;
  height: 22px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  outline: none;
  visibility: initial;
}

input.mui-switch::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #d7d5d5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

input.mui-switch:checked {
  border-color: #61ded0;
  box-shadow: #61ded0 0 0 0 16px inset;
  background-color: #61ded0;
}

input.mui-switch:checked:before {
  left: 21px;
}

input.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}

input.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #61ded0;
  transition: border-color 0.4s, background-color ease 0.4s;
}

input.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s,
    box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

input.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-anim:checked {
  box-shadow: #61ded0 0 0 0 16px inset;
  background-color: #61ded0;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

input.mui-switch.mui-switch-anim:checked:before {
  transition: left 0.3s;
}

/* 特殊组件样式begin */
.el-slider__runway.disabled .el-slider__button {
  border: 2px solid #575050;
  background-color: #575050;
  width: 12px;
  height: 12px;
}

.el-slider__button {
  border: 2px solid #aaa;
  background-color: #aaa;
  width: 12px;
  height: 12px;
}

.el-slider__bar {
  background-color: #61ded0;
}

.el-slider__runway.disabled .el-slider__bar {
  background-color: #61ded0;
  opacity: 0.6;
}

.el-slider__runway {
  background-color: #636363;
}

.el-slider__runway.disabled {
  background-color: #3b3939;
}

.vol_content .el-slider__runway {
  margin: 12px 0;
}

.right .el-slider__button {
  border: 2px solid #61ded0;
  background-color: #61ded0;
  width: 12px;
  height: 12px;
}

.right .el-slider__bar {
  background-color: transparent;
}

.right .el-slider__runway {
  background-color: #636363;
}

#progressbar {
  height: 10px;
  background: #fff;
  border-radius: 4px;
  width: 300px;
  margin: 15px auto;
  position: relative;
}

#progressbar .nanobar {
  height: 100%;
  border-radius: 4px;
}

#progressbar .nanobar .bar {
  background: #61ded0;
  border-radius: 4px;
}

.el-input__inner,
.el-select-dropdown {
  background-color: #232323;
  /* #1d1d1d; */
  border: 1px solid #636363 !important;
  font-size: 14px !important;
  color: rgb(170, 170, 170)
}

.el-select .el-input__inner:focus,
.el-select .el-input__inner:hover {
  border-color: #636363;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #1d1d1d;

}

.onLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none;
}

.onLoading .onloading_content {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #232323;*/
  font-size: 16px;
  text-align: center;
}

div.loadingImg {
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(../img/loading.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loading {
  float: left;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-item {
  width: 4px;
  height: 6px;
  background: #68b2ce;
  float: left;
  margin: 0 3px;
  animation: loading linear 1s infinite;
  -webkit-animation: loading linear 1s infinite;
}

.loading-item:nth-child(1) {
  animation-delay: 0s;
}

.loading-item:nth-child(2) {
  animation-delay: 0.15s;
}

.loading-item:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-item:nth-child(4) {
  animation-delay: 0.45s;
}

.loading-item:nth-child(5) {
  animation-delay: 0.6s;
}

@keyframes loading {

  0%,
  60%,
  100% {
    transform: scale(1);
  }

  30% {
    transform: scaleY(3);
  }
}

@-webkit-keyframes loading {

  0%,
  60%,
  100% {
    transform: scale(1);
  }

  30% {
    transform: scaleY(3);
  }
}